.git
.github
.idea
.vscode
.cursor
.nova
.zed
node_modules
vendor
public/build
public/hot
public/storage
storage/logs
storage/pail
storage/framework/cache/data
storage/framework/sessions
storage/framework/views
storage/framework/testing
tests
.phpunit.cache
.phpunit.result.cache
.phpactor.json
Homestead.json
Homestead.yaml
auth.json
.env
.env.*
!.env.example
*.md
